In [ ]:
import mysql.connector
myconn = mysql.connector.connect(host = "localhost", user = "root", password = "")
print(myconn)

In [ ]:
cur = myconn.cursor()

In [ ]:
show databases
try:
    dbs = cur.execute("show databases")
except:
    myconn.rollback()
    
for i in cur:
    print(i)
myconn.close()

In [ ]:
cur.execute("create database task3")
dbs = cur.execute("show databases")
for i in cur:
    print(i)
myconn.close

In [ ]:
cur.execute("drop database acc")
dbs = cur.execute("show databases")
for i in cur:
    print(i)
myconn.close

In [ ]:
cur. execute("use task3")

In [ ]:
cur.execute("create table t1(name varchar(10), age int(5))")

In [ ]:
cur.execute("describe t1")
for i in cur:
    print(i)
myconn.close

In [ ]:
db = "insert into t1(name, age) values(%s, %s)"
val = ("John", 22)
cur.execute(db, val)

In [ ]:
cur.execute("select *from t1")
result = cur.fetchall()
for i in result:
    print(i)
myconn.close()